<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Demo</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <h1>We are at forms page. We can collect the data and print the given data in the terminal.</h1>
    <div class="container">
        <form  method="POST">
            {{ form.as_p}}
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="submit">
        </form>
    </div>

</body>
</html>