<!DOCTYPE html>
{% extends "first_app/basic.html" %}
{% load static %}
{% block body_block %}

<div class="jumbotron">
    <h1> Please Login</h1>
    <form action="{% url 'first_app:login'%}" method="POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Enter Username">

        <label for="password">Password:</label>
        <input type="password" name="password">

        <input type="submit" value="Login">

    </form>
</div>


{% endblock%}